<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!-- 控制台日志 -->
  <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- 滚动文件日志 -->
  <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/debug/debug.log</file>
    <!-- 1 基于时间滚动生成日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/debug/debug_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      <maxHistory>3</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
      <!--按大小分割同一天的-->
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

    </rollingPolicy>
    <encoder>
      <pattern>[%X{traceID}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="ConsoleAppender"/>
  </root>
  <logger name="debugLogger" level="info" additivity="false">
    <appender-ref ref="RollingFileAppender"/>
  </logger>

</configuration>