<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!-- 控制台日志 -->
  <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} -%msg%n</pattern>-->
    </encoder>
  </appender>
  <!-- 滚动文件日志 -->
  <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/debug/debug.log</file>
    <!-- 1 基于时间滚动生成日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/debug/debug_%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{traceID}] %d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="ConsoleAppender"/>
  </root>
  <logger name="debugLogger" level="info" additivity="false">
    <appender-ref ref="RollingFileAppender"/>
  </logger>

</configuration>
