<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zds.mapper.CustomerMapper">
    <!-- 如果使用二级缓存，需要配置以下标签开启 -->
    <cache/>
    <resultMap id="customerMap" type="com.zds.entity.Customer">
        <id column="id" property="id"/>
    </resultMap>
    <!-- 如果想禁用某条查询的缓存，在查询标签中使用useCache="false"配置 -->
    <select id="selectOneCustomerById" parameterType="long" resultMap="customerMap" useCache="false">
        select *
        from customer
        where id = #{id}
    </select>

    <select id="selectOneCustomerByName" parameterType="String" resultMap="customerMap" useCache="false">
        select *
        from customer
        where customer_name = #{name}
    </select>

    <insert id="insertCustomer">
        insert into customer
        values (#{customer.id}, #{customer.customerName}, #{customer.customerPassword}, #{customer.customerSex}, #{customer.customerTel},
                #{customer.customerEmail}, #{customer.customerAddress}, null, null, #{customer.isDeleted}, #{customer.version})
    </insert>

    <update id="updateCustomerById">
        update customer c
        set c.customer_name = #{customer.customerName},
            c.customer_password  = #{customer.customerPassword}
        where c.id = #{customer.id}
    </update>

    <select id="selectCustomer" resultType="customer">
        select *
        from customer
    </select>
</mapper>